<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido a {{ title }}!
  </h1>
</div>
<h2>{{descripcion}} </h2>
<ul *ngIf="activated">
    <app-user *ngFor="let user of users" [nameUser]="user"></app-user>
</ul>
<div class="datos-personales">
  <p>nombre:{{name}}</p>
  <p>edad:{{age}}</p>
  <p>direccion:{{address.street}} en <strong>{{address.city}}</strong></p>
  <li *ngFor="let hobbie of hobbies">
    hobbie:{{hobbie}}
  </li>
  <form (submit)="addUser(newUser)">
    <input type="text" #newUser>
    <button >enviar</button>
  </form>
  <!-- uso de doble enlace de dato -->
  <form>
    <input type="text" name="name" [(ngModel)]="name">
    <input type="text" name="age" [(ngModel)]="age">
    name:{{name}} 
    edad:{{age}}
  </form>
  <li *ngFor="let user of users">
    user:{{user}} -- <button (click)="deleteUser(user)">x</button>
  </li>
</div>
<button (click)="alerta()">click me</button>
<videojuegos></videojuegos>

<app-hola-mundo></app-hola-mundo>
