<div class="center">
    <h2>componente de {{nombre}}</h2>
    <h2 *ngIf="mostrar_retro != true">{{mejor_juego_retro}}</h2>
    <h2 [style.background]="color" *ngIf="mostrar_retro != false">{{mejor_juego}}</h2>
    <h2>Listados de Videojuego</h2>
    <ul>
        <li>por defecto {{videojuego[2]}}</li>
        <li *ngFor="let game of videojuego">{{game}}</li>
    </ul>
</div>
